<div class="container-fluid bg-second">
<div class="container">
<div class="row">
<div class="col-md-5 text-light content">
<h3>Evine Yeni bir Hava kat!</h3>  
<label>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
</label>
</div>  
<div class="col-md-7 img-content">
<img src="https://cdn.glitch.global/5a35d680-e3a9-4b90-b6aa-39bea77db5e0/20bd9937-ad65-4ba5-9fc6-5d6ac759ba14.image.png?v=1656987358207">  
</div>
</div>
</div>
</div>

