<nav class="navbar navbar-expand-sm bg-light navbar-light ">
  <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbars">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="text-center collapse navbar-collapse justify-content-center" id="collapsibleNavbars">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/kategori/ev-esyalari">Ev eşyaları</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kategori/meyve-sebze">Meyve Sebze</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kategori/kozmetik">Kozmetik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kategori/elektronik">Elektronik</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
